

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?7hosoo');
    src:url('../fonts/icomoon.eot?#iefix7hosoo') format('embedded-opentype'),
        url('../fonts/icomoon.woff?7hosoo') format('woff'),
        url('../fonts/icomoon.ttf?7hosoo') format('truetype'),
        url('../fonts/icomoon.svg?7hosoo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}




.icon-home:before{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;

    content: "\e601";


   
}
.icon-pencil:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    content: "\e602";

}
.icon-location:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    content: "\e603";

}
.icon-bubble:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    content: "\e604";

}
.icon-menu:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    content: "\e605";

}
.icon-checkmark-circle:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    content: "\e606";


}
.icon-omega:before {
    content: "\e600";
}


h3,h2{

font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 20px;
margin:0;
padding:0;
}

h5 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 0.5em;
    margin: 0 0;
}

body
{
	background: url(../img/fondo.jpg) repeat;
	background-attachment: fixed;
	font-size: 16px;
}

header
{
	position: relative;
    background-color: rgba(93,93,93, 0.4);
	color: white;
	overflow: hidden;
	width: 100%;
	height: 86px;
	
	
	
}

header .cabecera{

   position: relative;
   background-color: rgba(93,93,93, 0.0); 
    color: white;
    overflow: hidden;
    width: 100%;
    height: 86px;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-shadow: 1px 1px 10px black;
    -webkit-box-shadow: 1px 1px 50px black; 


}

  .contenido .slider .logo{
    position: absolute;
    top:-40px;
    left: -35px;
    width: 20%;
    background-color: rgba(93,93,93, 0);

}

.ca-menu{
    padding:0;
    margin:0px auto;
    margin-top: 0px;
    margin-left: 25%;
    width: 1070px;
}
.ca-menu li{
    width: 100px;
    height: 84px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;

     -webkit-transition: all 1s ease-in-out;    /* safari - Chrome*/
            -moz-transition: all 1s ease-in-out;       /* Firefox */
            -o-transition: all 1s ease-in-out;         /* Opera */
            transition: all 1s ease-in-out;

 
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{

    margin-top: 22px;
    text-align:center;
    width: 100%;
    display: block;
    color: #fff;
    position: relative;

}

.ca-menu li a .icon-home{
    color: yellow;

}


.ca-menu li {
    color: yellow;

}



.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 0;
     padding-top: 25px;
}
.ca-main{
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover {
background: #e2e71f;



     -webkit-transform: rotate3d(0,1,0,-180deg);
    -moz-transform: rotate3d(0,1,0,-180deg);
    -o-transform: rotate3d(0,1,0,-180deg);
    -ms-transform: rotate3d(0,1,0,-180deg);
    transform: rotate3d(0,1,0,-180deg);

     
}

.ca-menu li:hover h2{
color: black;

     
}
.ca-menu li:hover .icon-home {
    color: black;
  

}

.ca-menu li:hover .icon-bubble{
    color: black;
}

.ca-menu li:hover .icon-menu{
  color: black;

   
}

.ca-menu li:hover .icon-location{
    color: black;
 
}



.ca-menu li:hover .icon-checkmark-circle{
  color: black;
   
   
}


.ca-menu li:hover .icon-pencil{
   color: black;

}

.contenido{
	background: #000;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	height: 1300px;

    box-shadow: 1px 1px 10px black;
    -webkit-box-shadow: 1px 1px 50px black; 
}

.contenido .slider{
	position: relative;
	background: url(../img/slide.png)no-repeat;
	background-size: 1124px 567px;
	height: 567px;
	


}

.contenido .slider .slider-text{
	position: absolute;
	background-color: rgba(0,0,0, 0.7);
	left: 0;
	bottom: 0;
    width: 100%;
    height: 135px;
}

.contenido .slider .slider-text .texto{
    position: relative;
    background-color: rgba(0,0,0, 0.2);
    margin-left: 30px;
    margin-top: 25px;
    width: 530px;
    height: 90px;
    border-left: 2px solid white;
}




.contenido .slider .slider-text .texto h2{
   font-family: 'Roboto', sans-serif;
   font-size: 22px;
    margin-left: 30px;
    color: yellow;
}

.contenido .slider .slider-text .texto p{
  margin-left: 30px;
  margin-top: 3px;
 color: white;
}


.contenido .slider .slider-text .texto .botonmas{
    position: absolute;
    top: 80%;
    right: 10px;
}






.contenido .carrusel{
    position: relative;
 background: black;
 height: 365px;
 padding-top: 40px;
 


}

.contenido .carrusel .compartir{
    position: relative;
    margin-left: 5%;
    width: 300px;
 


}

.contenido .carrusel .compartir .share{
 position: absolute;
 top: 300px;
 right: 100px;
 
 


}
.contenido .carrusel .carru_speakers{
position: absolute;

width: 60%;
top:40px;
right: 25px;
 
 


}



.separador{
    background: #000;
border-top: 3px solid  #4d4d4d;
width: 80%;
height: 5px;
margin: 0 auto;

}

.redeyboletos{
position: relative;
z-index: 1;
background:#000;
height: 130px;
text-align:center;




}

.redeyboletos .redesya{
    float: left;
    background: url(../img/fondo_redes.png)no-repeat;
    background-size: 338px 74px;
    height: 74px;
	width: 338px;
	margin-left: 91px;
	text-align: left;
	margin-top: 25px;
    padding-left: 50px;

}

.redeyboletos .redesya h3{
	font-family: 'langdonregular';
	color: white;
	margin-bottom: 10px;
	margin-left: 20px;


}

.redeyboletos .redesya h3:before{
    font-family: 'langdonregular';
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-left:8px solid #fff;
	content:" ";
	height:0;
	margin-left:-12px;
	position:absolute;
	width:0
}

.redeyboletos .redes{

	display: inline-block;
	margin-right: 0px;
    margin-top: 15px;


}

.redeyboletos .redes:nth-child(5){

	
	margin-right: 0px;


}


.redeyboletos .ventaboletos{
	position: relative;
    float: right;
    width: 321px;
    margin-right: 33px;
    margin-top: 5px;

}

.redeyboletos .ventaboletos .boletos{
	position: relative;
  background: url(../img/boletos.png)no-repeat;
  background-size: 321px 111px;
  height: 111px;
 

}

.redeyboletos .ventaboletos .boletos h3{
	font-family: 'langdonregular';
	position: absolute;
	color: white;
	top:35px;
	left: 20px;
	font-size: 16px;
	text-decoration: underline;

}


.redeyboletos .separacion{

	position: absolute;
	top:25px;
	left:50%;


}




.pie{

	background-color: rgba(93,93,93, 0.4);
    color: white;
	height: 70px;
	text-align: center;
   
}




.pie .patrocinadores{

 padding-top: 20px;
   
}

.pie .patrocinadores .patrocinador{

    display: inline-block;
    margin-right: 20px;
}


footer{

background:#000;
height: 80px;
text-align: center;

}

footer .contacto p{

color: white;
margin: 0px;
padding: 0px;
display: inline-block;

}

footer .contacto img p{
    display: inline-block;
margin: 0px;
padding: 0px;
}


footer .contacto h3{
 color: white;
}


footer h2{

padding-top: 5px;
color: white;

}

.copy{

    background: black;
    text-align: center;

}

.copy p{ 
    font-family: 'Roboto', sans-serif;
    font-variant: light 300;
    font-size: 12px;
    margin:10;
    color: white;


}


/*Estilos Generales*/
.button {
    background:#7f8c8d;
    color:black;
    display:inline-block;
    font-size:1em;
    margin:20px;
    padding:10px 0;
    text-align:center;
    width:150px;
    text-decoration:none;
    box-shadow:0px 3px 0px #373c3c;
    border-radius: 5px;
}
 
.button span {
    margin-right:10px;
}
 
/*Colores*/
.button.blue {
    background:#e8ec4c;
    box-shadow:0px 3px 0px #aeb139;
}
 

/*Efectos, Hover*/
.button:hover {
   
}
.fb-share-button{
  background: url(../img/share.png)no-repeat;
  background-size: 31px 31px;
  height: 31px;
}



@media screen and (max-width: 1100px) {

header .search{

 visibility: hidden;

}
  
}
